<table style="max-width: 600px; margin: 0 auto; padding: 16px">
  <tr>
    <td align="center" style="padding: 16px 0">
      <h1 style="font-size: 24px; color: #54575a">BOOKLIFT</h1>
    </td>
  </tr>
  <tr>
    <td style="padding: 8px 16px">
      <p style="font-size: 16px">
        <b>Dear <%= name %>,</b>
      </p>
      <p style="margin: 8px 0; font-size: 16px">
        Thank you for signing up. Please verify your email address by clicking
        the button below.
      </p>
    </td>
  </tr>
  <tr>
    <td align="center" style="padding: 16px 0">
      <a
        href="<%= url %>"
        style="
          background-color: #54575a;
          color: white;
          text-decoration: none;
          padding: 12px 16px;
          display: inline-block;
          width: 200px;
          text-align: center;
          font-weight: bold;
        "
      >
        VERIFY EMAIL
      </a>
    </td>
  </tr>
</table>
